body {
  background: rgb(99, 37, 169);
  background-image: url("../../public/chat.jpg"), url("../../public/wall.jpg");
  background-size: auto, cover;
  /* Перше зображення займе 70% фону */
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  font-size: 16px;
  font-family: Rubik, Roboto, sans-serif;
  padding: 0;
  margin: 0;
  overflow: hidden;
  color: rgb(48, 43, 43);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button {
  border: none;
  background: none;
  outline: none;
  color: rgb(48, 43, 43);
  font-size: 16px;
  font-family: Rubik, Roboto, sans-serif;
}

a {
  color: rgb(48, 43, 43);
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 0 15px;
}

.user__message {
  display: flex;
  align-items: center;
  gap: 5px;
}


/* .user__message h3 {
  border-radius: 5px;
  padding: 0 5px;
  margin-bottom: 3px;

} */

.user__message {
  border-radius: 10px;
  padding: 0 5px;
  margin-bottom: 3px;
}

.wrapper {
  padding-top: 20px;
  position: relative;
  display: flex;
  justify-content: end;
}

.active {
  background-color: #0a9b6a;
}

.lowActive {
  background-color: #7e4400;
}

.notActive {
  background-color: dimgrey;
}

.deleteUser {
  background-color: rgb(96 34 34);
}