.header {
    position: fixed;
    left: auto;
    right: auto;
    top: 0;
    max-width: 1210px;
    width: 100%;
    color: #fff;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.title {
    text-align: center;
    /* font-size: 20px; */
    font-weight: 700;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.left {
    background: rgb(253, 73, 73);
    border-radius: 6px;
    font-size: 14px;
    padding: 10px;
    color: #fff;
    cursor: pointer;
}