.footer {
    width: 100%;
}

.form {
    color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    background: rgb(51, 51, 51);
    justify-content: space-between;
    height: 80px;
    padding: 0 20px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.input {
    flex-grow: 1;
    height: 100%;
}

.input input {
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.button {
    text-align: center;
}

.button input {
    cursor: pointer;
    color: #fff;
}



.emoji {
    width: 40px;
    cursor: pointer;
    position: relative;
}

.emoji img {
    vertical-align: middle;
}

.emojies {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100%;
}