.messages {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.message {
  // background-color: #c6c2d2;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.message__inner {
  background-color: #9e3737;
  border-radius: 20px;
  padding: 10px;
}

.message__text {
  padding: 10px;
  border-radius: 12px;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  position: relative;
}

.message__text_buttons {
  position: absolute;
  width: 70px;
  height: 60px;
  top: -30px;
  left: 5px;
  padding: 3px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  background-color: #554646;
  // height: 24px;
  display: flex;
  gap: 5px;
}

.message__text_buttons>* {
  width: 50px;
  height: 50px;

}

.message__text:hover {
  .message__text_buttons {
    opacity: 1;
  }
}

.user {
  font-size: 14px;
  color: rgb(176, 176, 176);
}

.user,
.admin {
  align-items: flex-start;
}


.user .user {
  padding-left: 10px;
}

.me {
  align-items: flex-end;
}

.me .message__inner {
  background: #0d49d7;
}

.admin .message__inner {
  background: #6f1717;
}

.user .message__inner {
  background: #514c4c;
}

.me .message__user {
  padding-right: 10px;
}

.form__message {
  background-color: #0d49d7;
  border-radius: 10px;
  padding: 5px;
}

.input__message {
  color: black;
  width: 100%;
}

.button__message {
  background-color: cadetblue;
  border-radius: 10px;
  color: rgb(87, 20, 20);
  transition: background-color 0.3s;
}

.button__close {
  background-color: cadetblue;
  border-radius: 10px;
  color: rgb(87, 20, 20);
  transition: background-color 0.3s;
  margin-right: 10px;
}

.button__message:hover,
.button__close:hover {
  background-color: rgb(44, 193, 198);
}